.background
{
    background-color: rgb(32, 32, 32);
    color: whitesmoke;
}

.uiimg {
    background-image: url('../images/UI.jpg');
    height: 900px;
    width: 1200px;
    background-size: 1200px;
    background-repeat: no-repeat;
}

/* Second image (Portfolio) */
.markimg {
    background-image: url("../images/mark.png");
    height: 250px;
    width: 600px;
    background-size: 450px;
    background-repeat: no-repeat;
}